/* events body */

#events-bkgd {
    background: rgb(15, 15, 15);
}

/* header */

#events-head::before {
    background-image: url('../assets/img/bkgd/anime-bkgd-3.jpg');
    background-position: 50% 70%;
}

/* content */

.events-instance {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(50px, 10%) auto 20%;
    column-gap: 50px; 
}

.events-button, .events-button-inner {
    background-color: var(--main-window-color-light);
    border-radius: 5px;
    border: 1px solid var(--main-window-color-light);
    color: var(--main-txt-color-dark);
    font-weight: 900;
    font-size: var(--main-font-size);
}

.events-button:hover .events-button-inner:hover {
    cursor: pointer;
}

.events-button {
    height: 60px;
    width: 100%;
    align-self: center;
    margin-left: auto;
}

.events-button-inner {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    min-width: 87px;
    max-width: 167px;
    display: none;
}

/* ======================================================================
 * MOBILE
 * ====================================================================== */

@media screen and (max-width: 900px) {
    /* events-instance */
    .events-button {
        display: none;
    }

    .events-button-inner {
        display: block;
    }

    .events-instance {
        grid-template-columns: minmax(20px, 10%) auto;
    }
}
