.gallery-container {
    max-width: 95%;
    margin: auto;   
}

/* Gallery background */

#gallery-bkgd {
    background: rgb(15, 15, 15);
}

/* Gallery header */

#gallery-header {
    content: "";
    padding-top: 400px;
    padding-bottom: 10px;
}

#gallery-header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    position: absolute;
    background-image: url('../assets/img/gallery/aerial-shot-of-city-1823734.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#gallery-header::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    position: absolute;
    background: linear-gradient(rgba(15, 15, 15, 0.5), rgb(15, 15, 15));
    z-index: 1;
}

#gallery-header-inside {
    position: relative;
    z-index: 2;
}

#gallery-header-inside h2 {
    color: var(--main-txt-color-light);    
    font-size: 40px;
    text-align: left;
}

/* Gallery */

#images-wrapper {
    display: inline-block;    
    margin-right: auto;    
    margin-left: auto; 
    line-height: 0;       
    -webkit-column-count: 5;    
    -webkit-column-gap: 0px;    
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;    
    column-gap: 6px;    
 }

#images-wrapper img {    
    width: 100%;   
    height: auto;
    margin: 3px;
}

/* ======================================================================
 * MOBILE
 * ====================================================================== */

@media screen and (max-width: 1000px) {
     #images-wrapper {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
}

@media screen and (max-width: 600px) {
    #images-wrapper {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 500px) {
    #images-wrapper {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}