/* home body */

#home-bkgd {
    background: rgb(15, 15, 15);
}

/* home landing */

#home-head {
    padding: 0;
    height: 100vh;
}
#home-head::before {
    background-image: url('../assets/img/bkgd/anime-bkgd-1.png');
    height: 100vh;
}

#home-head::after {
    height: 100vh;
    background: linear-gradient(rgba(15, 15, 15,  0), rgb(15, 15, 15));
}

#home-head-inside {
    padding-top: 45vh;
}

#home-head-inside h1, #home-head-inside p {
    color: white;
    text-align: center; 
}

#home-head-inside h1 {
    font-size: var(--h1-size);
}

#home-head-inside p {
    font-size: var(--p-showcase-size);
}

/* "About Us" block */

#about {
    background: none;
    /* border-bottom: 1px solid var(--main-window-color-light); */
}

#about-container {
    /* background: #99ffff10; */
    background: rgb(13, 13, 13);
}

#social-about {
    padding: 20px 0px 0px 0px;
}

#social-about ul {
    text-align: left;
}

#social-about svg {
    width: 50px;
    height: 50px;
}

#social-about svg path {
    fill: white
}

/* "Main Activities" block */

#act-container {
    background: rgba(0, 0, 0, 0);
}

#act {
    /* background: var(--main-window-color-light); */
    /* background: #ffffff05 */
    background: rgb(18, 18, 18);
}

#act-instances {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 80px;
    max-width: var(--content-container-width);
}

.act-instance {
    text-decoration: none;
}

.act-instance img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.act-instance h3, .act-instance p {
    color: var(--main-txt-color-light);
    text-align: center;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.act-instance h3 {
    font-size: var(--h3-size);
}

.act-instance p {
    font-size: var(--main-font-size);
}

/* ======================================================================
 * MOBILE
 * ====================================================================== */

@media screen and (max-width: 900px) {
    #act-instances {
        display: block;
    }

    .act-instance img {
        width: 40%; 
    }

    .act-instance h3, .act-instance p {
        width: 75%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    #social-about svg {
        width: 40px;
        height: 40px;
    }
}