/* ======================================================================
 * GLOBAL CSS VARIABLES
 * ====================================================================== */

:root {
    /* colors: bg */
    --main-window-color: #160e2b;
    --main-window-color-light: #cabfe9;

    /* --main-bg-color: #1d1d1d; */
    --main-bg-color: #000000;
    --main-nav-color: #00000075;

    /* colors: text */
    --main-txt-color-light: #cabfe9;
    --main-txt-color-dark: #160e2b;

    /* dimensions-global */
    --parallax-img-width: 100%;
    --parallax-img-height: 100vh;

    /* dimensions-nav */
    --nav-height: 50px;

    /* dimensions-site */
    --showcase-width: 100%;
    --showcase-height: 100vh;
    --content-width: 100%;
    --content-height: 100vh;

    --block-container-width: 50%;
    --content-container-width: 90%;

    /* dimensions-footer */
    --footer-height: 50px;

    /* font-sizes */
    --h1-size: 80px;
    --h2-size: 40px;
    --h3-size: 30px;
    --h4-size: 20px;

    --main-font-size: 17px;
    --p-showcase-size: 24px;

    /* transition-times */
    --hover-transition-time: 0.3s;
    --scroll-transition-time: 0.5s;
}

/* ======================================================================
 * GLOBAL RESET
 * ====================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ======================================================================
 * SCROLLBAR (ALWAYS VISIBLE FOR CHROME/ANDROID)
 * ====================================================================== */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* ======================================================================
 * HTML, BODY & content wrap
 * ====================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: var(--main-bg-color);
    opacity: 0%;
    transition: opacity 1s;
    vertical-align: top;
    overflow-x: hidden;
}

.content-wrap {
    position: relative;
    min-height: 100vh;
}

/* ======================================================================
 * NAVIGATION BAR
 * ====================================================================== */

nav {
    z-index: 3;
    /* height: var(--nav-height); */
    width: 100%;
    background: var(--main-nav-color);
    position: fixed;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 2px 4px #00000075;
    transition: background var(--scroll-transition-time);
}

.brand {
    display: inline-block;
    /* float: left; */
    padding-top: 2px;
}

.brand img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

/* Remove this in production */
/* v */
.brand #prototype-notice {
    float: right;
    color: var(--main-txt-color-light);
    font-size: var(--main-font-size);
    padding: 13px 25px 15px 25px;
}
/* ^ */

.nav-list {
    list-style-type: none;
    float: right;
}

.nav-list li {
    float: left;
    display: block;
    height: 50px;
    transition: border var(--hover-transition-time);
}

.nav-list li a {
    display: block;
    color: var(--main-txt-color-light);
    text-align: center;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    font-size: var(--main-font-size);
    transition: color var(--hover-transition-time), background var(--hover-transition-time);
}

.nav-list li a:hover {
    color: var(--main-txt-color-dark);
    background: var(--main-txt-color-light);
}

#nav-hamburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 0;
    padding: 5px;
    transition: background var(--hover-transition-time);
}

#nav-hamburger:hover {
    cursor: pointer;
}

#nav-hamburger rect {
    fill: var(--main-txt-color-light);
    transition: fill var(--hover-transition-time);
}

/* ======================================================================
 * GLOBAL SITE COMPONENTS
 * ====================================================================== */

/* Containers */

.container {
    max-width: 90%;
    margin: auto;
}

/* Showcases */

.showcase {
    min-height: var(--parallax-img-height);
}

.showcase-bkgd-img {
    z-index: 1;
    min-height: var(--parallax-img-height);
    position: relative;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    opacity: 0.75;
}

.showcase-caption {
    text-align: center;
    color: white;
    width: 100%;
    top: 45vh; /* this may be unreliable */
    position: absolute;
    z-index: 2;
}

.showcase-caption h1 {
    font-size: var(--h1-size);
    padding-top: 20px;
    font-weight: 900;
}

.showcase-caption p {
    font-size: var(--p-showcase-size);
    padding-bottom: 20px;
}

/* site blocks */

.block-full {
    /* min-height: var(--parallax-img-height); */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 80px 0px 80px 0px; 
}

.block {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 80px 0px 80px 0px; 
}

.block-container {
    max-width: 100%;
    margin: 0px auto 0px auto;
    background: rgba(0, 0, 0, 0.5);
}

.block-container h2 {
    font-size: var(--h2-size);
    text-align: left;
    color: white;
}

.block-content {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: var(--block-container-width);
    margin: auto; 
}

.block-text {    
    color: white;
}

.block-text p {
    font-size: var(--p-showcase-size);
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
}

.block-text p em {
    color: var(--main-txt-color-light);
    font-style: normal;
    font-weight: 900;
}

.block-text p a {
    color: var(--main-txt-color-light);
    text-decoration: none;
}

/* articles */

.article-bkgd {
    background: var(--main-window-color);
}

.article-container {
    max-width: 90%;
    margin: 100px auto 60px auto;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.article-content {
    max-width: 90%;
    margin: auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.article-content h2,  .article-content h3, .article-content p{
    text-align: left;
}

.article-content h2 {
    font-size: var(--h2-size);
}

.article-content h3 {
    font-size: var(--h3-size);
}

.article-content p {
    font-size: var(--main-font-size);
}

.article-head {
    padding-bottom: 20px;
}

/* social media icons */

.social {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid white;
}

.social ul {
    text-align: center;
    list-style-type: none;
}

.social li {
    display: inline;
}

.social a {
    text-decoration: none;
}

.social img {
    width: 50px;
    fill: var(--main-txt-color-light);
}

/* ======================================================================
 * FOOTER
 * ====================================================================== */

footer {
    /* position: absolute; */
    z-index: 3;
    width: 100%;
    background: black;
    box-shadow: 0px -2px 4px #00000075;
    bottom: 0;
}

.footer-text {
    padding: 10px 0px 10px 0px;
    color: var(--main-txt-color-light);
    text-align: center;
    font-size: var(--main-font-size);
}

.footer-text img {
    height: var(--main-font-size);
}

#social-footer {
    padding: 5px 0px 5px 0px;
    border-top: none;
}

#social-footer svg path {
    fill: var(--main-txt-color-light);
}